<div class="main">
    <table border="1" cellpadding="5">
        <tr>
            <td>课程</td>
            <td>教练</td>
            <td>时间</td>
            <td>学员</td>
            <td colspan="2">操作</td>
        </tr>
        <tr ng-repeat="schema in schemas">
            <td ng-show="update[$index]" ng-init = "update[$index] = true">{{schema.course.name}}</td>
            <td ng-show="update[$index]">{{schema.employee.name}}</td>
            <td ng-show="update[$index]">{{schema.time}}</td>
            <td ng-show="update[$index]">{{schema.customer}}</td>
            <td ng-show="update[$index]">
                <button  ng-click="updateSchema($index)" >修改</button>
            </td>
            <td ng-show="update[$index]">
                <button ng-click="deleteSchema($index,schema.id)" >删除</button>
            </td>

            <td ng-hide="update[$index]">
                <select ng-model="updateCourse[$index]" ng-options="course.id as course.name for course in courses"></select>
            </td>
            <td ng-hide="update[$index]">
                <select ng-model="updateCoach[$index]" ng-options="coach.id as coach.name for coach in coaches"></select>
            </td>
            <!--<td ng-hide="update[$index]"><input type="text" ng-model="updateCourse[$index]"></td>-->
            <!--<td ng-hide="update[$index]"><input type="text" ng-model="updateCoach[$index]"></td>-->
            <td ng-hide="update[$index]"><input type="date" ng-model="updateTime[$index]"></td>
            <td ng-hide="update[$index]"><input type="text" ng-model="updateCustomer[$index]"></td>
            <td ng-hide="update[$index]">
                <button ng-click="confirmUpdate($index)" >确定修改</button>
            </td>
            <td ng-hide="update">
                <button ng-click="cancelUpdate($index)" >取消修改</button>
            </td>
        </tr>
    </table>

    <form>
        <div>课程：
            <select ng-model="selectedCourse" ng-options="course.id as course.name for course in courses">
            </select>
        </div>
        <div>教练：<select  ng-model="selectedCoach" ng-options="coach.id as coach.name for coach in coaches">
        </select>
        </div>
        <div>时间：<input type="date" ng-model="time"/></div>

        <div>学员：<input type="text" ng-model="customer"/></div>
        <div>提交 <input type="submit" ng-click="addSchema()" value="添加新课程"/></div>
    </form>
</div>