<div class="main">
    <table>
        <tr>
            <th>姓名</th>
            <th>工号</th>
            <th colspan="2">操作</th>
        </tr>
        <tr ng-repeat="user in users">
            <td ng-show = "update[$index]">{{user.name}}</td>
            <td ng-show = "update[$index]">{{user.employee.id}}</td>
            <td ng-show = "update[$index]">
                <a href ng-click="updateUser($index)">修改</a>
            </td>
            <td ng-show = "update[$index]">
                <a href ng-click="deleteUser($event,user.id)">删除</a>
            </td>

            <td ng-hide="update[$index]" ng-init="update[$index] = true"><input type="text" ng-model="user.name"/></td>
            <td ng-hide="update[$index]"><input type="text" ng-model="user.password"/></td>
            <td ng-hide="update[$index]"><input type="submit" ng-click="commitUpdate($index,user)" value="确定修改"/>
            <td ng-hide="update[$index]"><input type="submit" ng-click="cancelUpdate($index)" value="取消修改"/>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>姓名</td>
            <td>密码</td>
            <td>工号</td>
        </tr>

        <tr>
            <td><input type="text" ng-model="name"/></td>
            <td><input type="text" ng-model="password"/></td>
            <td><input type="text" ng-model="employee"/></td>
        </tr>
    </table>
    <input class="input" type="submit" ng-click="addUser()" value="添加系统用户"/>
    <!--<button ng-click="test(user.id)">test</button>-->
</div>

